[user]
    name = blah blah
    email = blah@blah.com
[push]
    default = simple
[core]
    autocrlf = input
[alias]
    lt = log --tags --color --pretty=format:'%C(yellow)%h%C(reset) %C(red)%d%C(reset) %s %C(cyan)[%an, %ar]%C(reset)' --decortate=full
    gr = log --graph --oneline --color --pretty=format:'%C(yellow)%h%C(reset) %C(red)%d%C(reset) %s %C(cyan)[%an, %ar]%C(reset)' --full-history --all
    ll = log --graph --oneline --color --pretty=format:'%C(yellow)%h%C(reset) %C(red)%d%C(reset) %s %C(cyan)[%an, %ar]%C(reset)'
    ch = log --name-status --oneline --pretty=format:'%C(yellow)%h%C(reset) %C(red)%d%C(reset) %s %C(cyan)[%an, %ar]%C(reset)'
    me = whatchanged --author="blah" --name-status --oneline --pretty=format:'%C(yellow)%h%C(reset) %C(red)%d%C(reset) %s %C(cyan)[%an, %ar]%C(reset)'
    review = merge --no-commit --no-ff -Xignore-space-change
